@media(max-width: 768px) {
    .carousel-caption {
        left: 10px;
    }
    .carousel-item {
        height: 300px;
    }
    .carousel-item img {
        object-fit: cover;
    }
    .carousel-fader {
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%);
    }
    .hero-content .description {
        width: 100%;
    }
    .nav-tabs .nav-link {
        padding: 10px;
    }
}